* {
  margin: 0;
  padding: 0;
}

.border {
  border: #2D2C2A solid 2px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

body {
  background-color: #FFEDD5;
  font-family: 'Roboto', sans-serif;
}

header, section {
  max-width: 300px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 32px 0;
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}

header h1 span {
  color: #995000;
}

header p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 16px;
}

section {
  margin-bottom: 24px;
}

section h2 {
  background-color: #FED7AA;
  padding: 8px 16px;
  text-align: center;
  font-size: 18px;
  border: #2D2C2A solid 1px;
  
  margin-bottom: 24px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 16px;
  display: flex;
}

li .details {
  max-width: 240px;
}

.details p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 21px;
  margin-right: 3px;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
}

h1, h2, h3, .price {
  font-family: Roboto Serif, serif;
  text-transform: uppercase;
  color: #2D2C2A;
  
}

/*** IMAGES ***/

.coffe {
  background-image: url(./coffe2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.drinks {
  background-image: url(./copo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.food {
  background-image: url(./piee.png);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
}
